<!DOCTYPE html>
<html><head><title>Presidential Precision Medicine Service</title></head>
<body>
	<h1>
		Presidential Precision Medicine Service (PPMS)
	</h1>

	<img src="/static/trump-artist.png.001.png" id="Donald" />


	<p>Donald Trump has fired all the bioinformaticians, because what do they know anyway?</p>

	<p>From now on you can use the PPMS to obtain the bestest biopolitical statements possible. Because we are a great conutry.</p>

	<p>What are you waiting for? Get Trump's tremendous judgement of your DNA now!</p>
	<form id="dna_field" action="/" method="post">
		<fieldset><legend>Enter your DNA</legend>

		<textarea rows="10" cols="140" name="dna" id="dna"></textarea>
		<br />
		<input type="submit" value="Get your personal Trump statement NOW! "/>
		</fieldset>
	</form>

</body>
</html>
